[submodule "FEX"]
	path = FEX
	url = https://github.com/willfaust/FEX.git
	branch = ios-port-2607
[submodule "wine"]
	path = wine
	url = https://github.com/dre4moff/wine.git
	branch = codex/failed-import-memory-r36
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/dre4moff/dxmt.git
	branch = codex/upstream-sync-r32
[submodule "madeira-dock"]
	path = madeira-dock
	url = https://github.com/dre4moff/madeira-dock.git
	branch = codex/local-dock-r35
